<nav id="navBarElement" class="flex gap-10 align-center just-between">
  <a href="index.html" class="logo flex align-center gap-5">
    <i- type="controller"></i->
    <div class="name flex column align-start gap-5">
      <i- type="Admin"></i->
      <i- type="Panal"></i->
    </div>
  </a>
  <div class="navLinks">
    <a isActive="الرئيسية" href="index.html" >
      <i- type="home" class="small"></i->
      <trans->الرئيسية</trans->
    </a>
    <a isActive="الحجوزات" href="booking.html" >
      <i- type="gears" class="small"></i->
      <trans->إدارة الحسابات</trans->
    </a>
    <a isActive="المجموعات و الفئات" href="Groups&Categories.html" >
      <i- type="ticket" class="small"></i->
      <trans->سجل الإشتراكات</trans->
    </a>
    <div class="navBtns flex gap-5">
      <button class="settings large">
        <i- type="gear"></i->
      </button>
      <!-- <button disabled class="notificationsBtn large">
        <i- type="bell"></i->
      </button> -->
    </div>
  </div>
  <div class="mobile-btns gap-5">
    <button class="menu large">
      <i- type="menu-toggle"></i->
    </button>
  </div>
</nav>