<div class="notifications">
  <header>
    <i- class="small" type="bell"></i->
    <h6><trans->الإشعارات</trans-></h6>
  </header>
  <div class="container noScrollBar">
    <div class="booking-not red-color">
      <div class="category-details">
        <i- type="VIP"></i->
        <div class="flex column gap-5">
          <h6 class="name">Room 1</h6>
          <p class="txt body1">Time's up</p>
        </div>
      </div>
      <div class="booking-details">
        <div class="time">00:00</div>
        <button class="large bgc">
          <p class="txt body1">Details</p>
        </button>
      </div>
    </div>
    <div class="booking-not yellow-color">
      <div class="category-details">
        <i- type="VIP"></i->
        <div class="flex column gap-5">
          <h6 class="name">Room 1</h6>
          <p class="txt body1">Pause time</p>
        </div>
      </div>
      <div class="booking-details">
        <div class="time">01:35</div>
        <button class="large bgc">
          <p class="txt body1">Details</p>
        </button>
      </div>
    </div>
  </div>
</div>